---
import { getCollection } from 'astro:content';
import Hero from '../../components/Hero.astro';
import PostPreview from '../../components/PostPreview.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Grid from '../../components/Grid.astro';

interface Post {
    frontmatter: {
        tags: string[];
    };
}

export async function getStaticPaths() {
    const allWorkPosts = Object.values(import.meta.glob<Post>('../../content/work/*.md', { eager: true }));
    const allBlogPosts = Object.values(import.meta.glob<Post>('../../content/blog/*.md', { eager: true }));
    const allPosts : Post[] = [...allWorkPosts, ...allBlogPosts];
    const tags = allPosts.flatMap((post) => post.frontmatter.tags);
    return [
        {
            params: {
                tag: 'all',
            },
        },
        ...[...new Set(tags)].map((tag) => ({
            params: {
                tag,
            },
        })),
    ];
}

const { tag } = Astro.params;
const blogPosts = (await getCollection('blog')).filter((project) => project.data.tags.includes(tag));

---
<BaseLayout title={tag}>
    <main class="wrapper stack gap-8">
        <div class="stack gap-20">
                <Hero
                    title={tag}
                    align="start"/>
            </div>

        <div class="gallery">
            <Grid>
                { blogPosts.map((project) => (
                    <li>
                        <PostPreview type="blog" post={project} />
                    </li>
                ))}
            </Grid>
        </div> 
    </main>
</BaseLayout>