---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Oliver Kucharzewski" description="About Oliver Kucharzewski Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero title="About"></Hero>
			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>I am a Software Engineer with over ten years of experience in web development, with expertise in NodeJS, PHP, ReactJS, Typescript, and AWS.</p>
					<br/>
					<p>I'm a big advocate for Clean Code practices.</p>
					<br/>
					<p>In my current role, I lead a team of engineers in architecting serverless applications, building extensive pipelines, and automation testing suites. I also utilise tools like Gitguardian, Jest, Cypress, and Terraform to ensure secure, fast, and reliable code delivery and deployment. I have worked with notable clients such as Kathmandu and Disney, and have helped them reach millions of users per month.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
