---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PostPreview from '../components/PostPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const blogPosts = (await getCollection('blog')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
	title="My Blog | Oliver Kucharzewski"
	description="Have a read about what I have been learning about, and knowledge I wish to share."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="My Posts"
				tagline="See my most recent posts"
				align="start"
			/>
			<Grid variant="offset">
				{
					blogPosts.map((post) => (
						<li>
							<PostPreview type='blog' post={post} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
